* {
  box-sizing: border-box;
}

body {
  font-family: Verdana;
  padding:10px;
  background:  #0494ee;
}

/* Header/Blog Title */
.header {
  padding: 10px;
  font-size: 50px;
  text-align: center;
  background: #0494ee;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}
/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}
p {
  text-indent: 50px;
  word-spacing: 8px;
  line-height: 1.8;
  font-family: Arial;
}

/* Add a card effect for articles */
.card {
  background-color: #c7f4f47e;
  padding: 20px;
  margin-top: 20px;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: rgba(128, 195, 239, 0.7);
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
.wrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.wrapper div:not(.wrap-right) {
  flex: 1;
}
.wrapper {
  width: 300px;
}